<p>
  <b>Content:</b>
  <%=h @message.content %>
</p>

<p>
  <b>Added by:</b>
  <%=h @message.owner.email %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
